/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-copyright-footer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	@media screen and (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
	}
}
